<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Média</a>
        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Repository : gcrevisy
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/">vide</a>
                        <a class="dropdown-item" href="/repository/gcrevisy/project/poc-junit">poc-junit</a>
                        <a class="dropdown-item" href="/repository/gcrevisy/project/poc-junit">poc</a>
                    </div>
                </li>
            </ul>
        </div> -->
    </nav>
    <br />
    <div style="padding-left: 15%; padding-right: 15%">
        <button class="btn btn-primary btn-sm" type=" button">Ajouter</button>
        <br />
        <br />
        <table class="table table-hover table-sm">
            <tr>
                <th scope="col" style="width: 15px;">&nbsp;</th>
                <th scope="col">Film</th>
                <th scope="col">Support</th>
                <th scope="col">Année</th>
                <th scope="col" style="width: 60px;">&nbsp;</th>
                <th scope="col" style="width: 15px;">&nbsp;</th>
            </tr>
            <tr data-th-each="item : ${films}">
                <th scope="col" style="width: 15px;">&nbsp;</th>
                <td data-th-text="${item.libelle}">...</td>
                <td data-th-text="${item.support}">...</td>
                <td data-th-text="${item.annee}">...</td>
                <td scope="col" style="width: 60px;">
                    <div class="dropdown">
                        <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Détails</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Supprimer</a>
                        </div>
                    </div>
                </td>
                <th scope="col" style="width: 15px;">&nbsp;</th>
            </tr>
        </table>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>